@import "tailwindcss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
img {
  object-fit: cover;
  display: flex;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 10 0%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
